<html>
    <head>
        <style>
            .box__dragndrop,
            .box__uploading,
            .box__success,
            .box__error {
                display: none;
            }

            .error {
                color: red;
                font-weight: bold;
            }

            img.puzzle {
                max-width: 400;
                max-height: 400;
            }
        </style>
        <script>
            var isAdvancedUpload = function() {
                var div = document.createElement('div');
                return (('draggable' in div) || ('ondragstart' in div && 'ondrop' in div)) && 'FormData' in window && 'FileReader' in window;
            }();
        </script>
    </head>
<h1>{{.Title}}</h1>
{{if .Success}}
<img class="puzzle" src="{{.Image}}"/>
{{end}}

{{if not .Success}}
<div class="error">{{.Error}}</div>
{{end}}

<form class="box" method="post" action="/solve" enctype="multipart/form-data">
  <div class="box__input">
    <input  type="file" name="sudokuFile" id="file" data-multiple-caption="{count} files selected" multiple />
    <label for="file"><strong>Choose a file</strong>.</label>
    <div><textarea name="body" rows="20" cols="82" style="font-family: monospace">{{printf "%s" .Body}}</textarea></div>
    <button class="box__button" type="submit">Upload</button>
  </div>
</form>
</html>